= form_for @slide, :validate => true, :html => { :multipart => true } do |f|
  - if @slide.errors.any?
    #error_explanation
      %h2
        = pluralize(@slide.errors.count, "error")
        prohibited this page from being saved:
      %ul
        - @slide.errors.full_messages.each do |msg|
          %li= msg
  - if Nivo::Config.file['caption'] == true
    .item 
      = f.label :caption
      %br
      = f.text_field :caption, :class => 'field'
  .item 
    = f.label :url
    %br
    = f.text_field :url, :class => 'field'
  .item 
    = f.label :active
    %br
    = f.check_box :active, :class => 'field'
  .item 
    = f.label :image
    %br
    = f.file_field :image, :class => 'field'
  .item
    = f.submit
