- title "Slides" 


.button_bar
  = render :partial => 'search'
  = link_to 'Order Slides', nivo_manage_slides_path, :class => 'ordernav tip', :id => "order_slides", :title => "ReOrder Slides"
  = link_to 'new page', new_nivo_slide_path, :class => 'newfile tip', :title => "New Slide"


%ul#slides
  - @slides.each do |slide|
    %li.item{:id => "#{slide.id}"}
      .ui-widget.ui-helper-clearfix{:style => 'float:right'}
        = link_to '', edit_nivo_slide_path(slide), :class => 'ui-icon ui-icon-pencil edit tip', :title => "Edit This Item"
        = link_to '', slide, :confirm => 'Are you sure?', :method => :delete, :class => 'ui-icon ui-icon-close destroy tip', :title => "Destroy This Item"
      .handle{:style => "float:left; padding:0 10px;"}
        = image_tag slide.image.url(:thumb)
      %h3= link_to slide.caption, slide
      %p
        = link_to "Preview Slide", slide.image.url, :id => 'single_image'
        %br/
        %br/


= javascript_include_tag "nivo-serialize", "nivo-dragsort", "nivo-admin"
