- title "Slides" 

.button_bar
  = render :partial => 'search'
  = link_to 'new page', new_nivo_slide_path, :class => 'newfile tip', :title => "New Slide"

= will_paginate @slides

- @slides.each do |slide|
  .item
    .ui-widget.ui-helper-clearfix{:style => 'float:right'}
      = link_to '', edit_nivo_slide_path(slide), :class => 'ui-icon ui-icon-pencil edit tip', :title => "Edit This Item"
      = link_to '', slide, :confirm => 'Are you sure?', :method => :delete, :class => 'ui-icon ui-icon-close destroy tip', :title => "Destroy This Item"

    %h3= link_to slide.caption, slide
    %p
      = link_to "Preview Slide", slide.image.url, :class => 'single_image'

= will_paginate @slides 
