- title "Sliders" 

.button_bar
  = render :partial => 'search'
  = link_to 'new page', new_slider_path, :class => 'newfile tip', :title => "New Slider"

= will_paginate @sliders

- @sliders.each do |slider|
  .item
    .ui-widget.ui-helper-clearfix{:style => 'float:right'}
      = link_to '', edit_slider_path(slider), :class => 'ui-icon	ui-icon-pencil edit tip', :title => "Edit This Item"
      = link_to '', slider, :confirm => 'Are you sure?', :method => :delete, :class => 'ui-icon ui-icon-close destroy tip', :title => "Destroy This Item"

    %h3= link_to slider.caption, slider
    %p
      = link_to "Preview Slider", slider, :class => 'remote_iframe'

= will_paginate @sliders 
