
= stylesheet_link_tag "nivo-slider", "default"
= javascript_include_tag "nivo-slider"

-# Can't wait for the asset pipeline. ruby is js files, Amazing!
:javascript
  $(document).ready(function() {
    $('.slides').nivoSlider(#{Nivo::Config.file['nivo_options'].to_json});
  });

.theme-default
  .slides{ :style =>"width:#{slides.first.width}px;"  }
    - slides.each do |slide|
      = link_to image_tag(slide.image.url(:slide), slide.image_options), slide.url, :class => "slide_link"
